* {
	margin: 0;
	padding: 0;
	/* includes the padding and border to the total width of the elements instead of adding to it. */
	box-sizing: border-box;
	/* default font */
	font-family: 'Poppins', sans-serif;
}

body {
	color: #0D1435;
}

p {
	color: #0D1435;
	font-family: 'Roboto', sans-serif;
}

.text-mute {
	color: #D1D2D6;
}

/* NAVBAR */
.nav-item {
	padding-right: 24px;
}

.btn {
	border-radius: 50px;
	padding-left: 24px;
	padding-right: 24px;
}

.btn-orange {
	background-color: #FF7A4F;
	color: #FFFFFF;
	font-size: 16px;
	box-shadow: 0 8px 16px 0 rgb(255,122,79,0.2), 0 6px 20px 0 rgb(255,122,79,0.19);
}

.btn-orange:hover {
	background-color: #E53800;
	color: #FFFFFF; 
	box-shadow: 0 8px 16px 0 rgb(229,56,0,0.2), 0 6px 20px 0 rgb(229,56,0,0.19);
}

.btn-outline-gray {
	color: #D1D2D6;
	font-size: 16px;
}

.text-link, .btn-outline-orange {
	color: #FF7A4F;
	font-size: 16px;
}

.text-link:hover,.btn-outline-orange:hover {
	color: #E53800;
}

/* HEADER */
.jumbotron-landing {
	height: 100vh;
	background: linear-gradient(180deg, white, #EBF3FF);
	overflow: hidden;
}

.jumbotron .display-4 {
	color: #0D1435;
	font-weight: 700;
}

.header-section {
	display: flex;
	align-items: center;
}

.header-title {
	font-family: 'Poppins', sans-serif;
}

.jumbotron-courses {
	border-radius: 25px;
	background-color: #007BFF;
}

.jumbotron-profile {
	border-radius: 25px;
}

.jumbotron-end {
	border-radius: 25px;
	background-color: #F2F2F3;
	background-image: url("../img/bg-end.png");
  	background-size: cover;
}

/* MAIN SECTION */
.subsection {
	display: flex;
	align-items: center;
	overflow: hidden;
}

.title {
	font-weight: 800;
	color: #2C41AE;
}

.res-circle {
	/* Percentage Width & Border Radius */
	width: 10%;
	border-radius: 50%;

	/* Background Color */ 
	border: 2px solid #687BD9;

	/* Necessary To Position Text Block */
	line-height: 0;
	position: relative;
}

/* Match Height */
.res-circle::after {
	content: "";
	display: block;
	padding-bottom: 100%;
}
 
/* Text Block */
.circle-txt {
  /* Center Text In Circle */
  position: absolute;
  bottom: 50%;
  width: 100%;
  text-align: center;
  font-size: 16px;
  color: #687BD9;
}

/* FAQS */
#faqs {
	background-color: #EBF3FF;
}

.accordion .card{
	border-radius: 25px;
	box-shadow: 3px 3px 8px 0 #d4e7f2, 6px 6px 48px 0 #d4e7f2;
}

.accordion .card-body {
	border-radius: 25px;
}

.accordion .card-header {
	background-color: #FFF; 
}

.card-header .btn-link {
	color: #0D1435;
}

.highlight {
  background-position: bottom;
  background-repeat: repeat no-repeat;
  background-image: url('../img/underline.svg');
  background-size: contain;
}

/* LOGIN */
.register-page, .register-page .row {
	overflow-x: hidden;
	height: 100vh; 
}

.login-page, .login-page .row {
	height: 100vh;
	overflow: hidden;
}

.register-page h1, .login-page h1{
	color: #0D1435;
}

.full-img .navbar-brand, .login-side .navbar-brand {
	padding-left: 80px;
}

.register-form .container, .login-form .container {
	padding-left: 96px;
	padding-right: 96px;
	/*display: flex;
	align-items: center;*/
}

.register-side .full-img, .login-side, .full-img {
	padding: 0;

}

.full-img {
	background-image: url('../img/bg-abstract.svg');
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
}

/* PROFILE PAGE*/


/*  FOOTER */
.footer {
	background-color: #2C41AE;
}

.footer-brand {
	margin-bottom: 16px;
}

.sub-text , .copyright, .footer-link {
	color: #BAC2EE!important;
}

li {
	margin-bottom: 8px;
}
